{% extends 'base.html.twig' %}

{% block title %}Nouvelle équipe{% endblock %}

{% block content %}
    <h1>Ajouter une équipe</h1>

    {{ include('equipe/_form.html.twig') }}

    <a href="{{ path('equipe_index') }}">Retour</a>
{% endblock %}
