<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}


        <h1>les tables :</h1>
        <a href="Equipe/index.html.twig">equipes</a>
        <a href="joueur/index.html.twig">joueurs</a>
        <a href="matchs/index.html.twig">matchs</a>

        {% block javascripts %}{% endblock %}
    </body>
</html>
