<form method="post" action="{{ path('matchs_delete', {'id_match': match.getIdMatch}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir le supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ match.getIdMatch) }}">
    <button class="button is-danger">Supprimer</button>
</form>
