{% extends 'base.html.twig' %}

{% block title %}Modification du match{% endblock %}

{% block content %}
    <h1>Modification du match</h1>

    {{ include('matchs/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('matchs/_delete_form.html.twig') }}
    <a href="{{ path('matchs_index') }}">Revenir à la liste</a>
{% endblock %}
