{% extends 'base.html.twig' %}

{% block title %}Nouveau match{% endblock %}

{% block content %}
    <h1>Ajouter un nouveau match</h1>

    {{ include('matchs/_form.html.twig') }}

    <a href="{{ path('matchs_index') }}">Retour</a>
{% endblock %}
