<form method="post" action="{{ path('joueur_delete', {'id_joueur': joueur.getIdJoueur}) }}" onsubmit="return confirm('Vous êtes sûr de vouloir le supprimer ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ joueur.getIdJoueur) }}">
    <button class="button is-danger">Supprimer</button>
</form>
