{% extends 'base.html.twig' %}

{% block title %}Modification du joueur{% endblock %}

{% block content %}
    <h1>Modification du joueur</h1>

    {{ include('joueur/_form.html.twig', {'button_label': 'Editer'}) }}


    {{ include('joueur/_delete_form.html.twig') }}
    <a href="{{ path('joueur_index') }}">Revenir à la liste</a>
{% endblock %}
