{% extends 'base.html.twig' %}

{% block title %}Edit Joueur{% endblock %}

{% block content %}
    <h1>Editer Joueur :</h1>

    {{ include('joueur/_form.html.twig', {'button_label': 'Editer'}) }}

    <a href="{{ path('joueur_index') }}">Revenir à la liste</a>

    {{ include('joueur/_delete_form.html.twig') }}
{% endblock %}
