{% extends 'base.html.twig' %}

{% block title %}Nouveau joueur{% endblock %}

{% block content %}
    <h1>Ajouter un nouveau joueur</h1>

    {{ include('joueur/_form.html.twig') }}

    <a href="{{ path('joueur_index') }}">Retour</a>
{% endblock %}
